.loadingComponent {
    background-color: var(--main-background-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loadingComponent_title {
    font-size: 40px;
    font-weight: bold;
    color:black;
}